@model IEnumerable<WebApplication2.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grupa_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime_Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Godina_Studija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_Rodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grupa_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime_Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Godina_Studija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_Rodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BI }) |
            @Html.ActionLink("Details", "Details", new { id=item.BI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BI })
        </td>
    </tr>
}

</table>
