@model WebApplication2.Models.Ispit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ispit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Predmet.Naziv_Predmeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet.Naziv_Predmeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Ime_Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Ime_Prezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
